body{
  background: linear-gradient(to right, #114357, #f29492); /* Gradient background */

}

.todo-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.todo-title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon {
  font-size: 30px;
  margin-left: 5px;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
}

.delete-icon {
  cursor: pointer;
}
